<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-share"></span>
          Interessante Organisation?
        </h4>
        <p>Teilen Sie diese Geld-Zuweisungen:</p>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/share?text={{ sharetext|add:" %40correctiv_org" }}&amp;url={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer.php?u={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Google+
            </a>
          </li>
        </ul>
        <p>
          Folgen Sie uns auf <a href="https://twitter.com/correctiv_org">Twitter!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-list-alt"></span>
          Diese Zuweisungen einbetten
        </h4>
        <p>
          Wollen Sie diese Zuweisungen auf Ihrer Website einbinden?
          Kopieren Sie diesen iFrame-Code:
        </p>
        <textarea readonly style="width:100%" rows="4">{% spaceless %}
          <iframe frameborder="0" width="100%" height="480px" src="{{ embed_url }}"></iframe>
        {% endspaceless %}</textarea>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-envelope"></span>
          Kontaktieren Sie uns!
        </h4>
        <p>Ihnen sind <strong>Missstände</strong> bei der Verteilung von Geldzuwendungen durch Richter und Staatsanwälte bekannt? Sie haben Informationen zu Personen oder Einrichtungen, die wir uns <strong>genauer anschauen</strong> sollten?</p>
        <p>
          <a href="https://correctiv-upload.org/" target="_blank">
            <span class="glyphicon glyphicon-arrow-right"></span>
            Senden Sie uns Nachrichten und Dokumente
          </a>
        </p>
      </div>
    </div>
  </div>
</div>