{% load flatpages %}
{% get_flatpages '/justizgelder/details/' as detail_pages %}

<!-- Modal -->
<div class="modal fade" id="justizgelder-detail" tabindex="-1" role="dialog" aria-labelledby="justizgelder-detail-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
        <h4 class="modal-title" id="justizgelder-detail-label">
          {{ detail_pages.0.title }}
        </h4>
      </div>
      <div class="modal-body">
        {{ detail_pages.0.content|safe }}
      </div>
    </div>
  </div>
</div>