{% extends "bussgelder/base.html" %}

{% load humanize %}
{% load bussgelder_tags %}

{% block title %}Empfänger {{ object.organisation.name }}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{{ object.organisation.name }} - {{ object.content }}">

{% endblock %}

{% block body %}

<div class="page-header">
  <h2>
    {{ object.name }}
  </h2>
  <h3>
    <span class="label label-info">
      Gesamtsumme: {{ object.sum_fines|intcomma }}&nbsp;€
    </span>
  </h3>
</div>

{% if not request.GET.embed %}
  <div class="row">
    <div class="col-lg-6">
      <p>
        <a class="btn btn-default" href="{% url 'bussgelder:search' %}">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Zurück zur Suche
        </a>
      </p>
    </div>
    <div class="col-lg-6">
      <p class="text-right">
        <a class="btn btn-default" href="#justizgelder-detail" data-toggle="modal">
            <span class="glyphicon glyphicon-info-sign"></span>
            Infos zur Datenbank
        </a>
      </p>
    </div>
  </div>
{% endif %}
{% if object.note %}
  <div class="row">
    <div class="col-lg-8">
      <h3>Hinweise zu dieser Organisation</h3>
      <p>
        {{ object.note|linebreaks }}
      </p>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-lg-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>
            Name des Empfängers
          </th>
          <th class="text-right">
            Betrag
          </th>
          <th>
            Bundesland
          </th>
          <th>
            Herkunft
          </th>
          <th>
            Quelle
          </th>
          <th>
            Details zum Empfänger
          </th>
        </tr>
      </thead>
      <tbody>
      {% with fines=object.fines.all %}
        {% for fine in fines %}
        <tr>
          <td>{{ fine.original_name }}</td>
          <td class="text-right">
            {{ fine.amount|intcomma_floatformat:2 }}&nbsp;€
          </td>
          <td>{{ fine.state_label }}</td>
          <td>{{ fine.department_label }}</td>
          <td>
            <a href="{{ MEDIA_URL }}{{ fine.source_file }}">
              {{ fine.source_file_extension|upper }}
            </a>
          </td>
          <td class="text-muted">
            {% if fine.city or fine.postcode %}
              {{ fine.city }} {{ fine.postcode }}<br/>
            {% endif %}
            {% if fine.address %}
              {{ fine.address|linebreaksbr }}<br/>
            {% endif %}
            {% if fine.org_details %}
              {{ fine.org_details|linebreaksbr }}<br/>
            {% endif %}
            {% if fine.bank_details %}
              {{ fine.bank_details|linebreaksbr }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endwith %}
      </tbody>
    </table>
    <hr/>
    <h3>
      <a href="{% url 'bussgelder_search' %}?q={{ object.name|urlencode }}">
        Ähnliche Empfänger
      </a>
    </h3>
    <ul class="list-unstyled">
      {% for obj in mlt.results %}
        {% if obj.id != object.id %}
          <li>
            <a href="{% url 'bussgelder_organisation_detail' slug=obj.slug %}">
              {{ obj.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}