{% extends 'bussgelder/base.html' %}

{% load humanize %}

{% block title %}Suche {{ query }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Suche nach Bußgeldempfängern</h2>
            <form method="get" action=".">
                <div class="input-group">
                    {{ form.q }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Suchen</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <p class="badge">
                {{ page_obj.paginator.count|intcomma }} Bußgelder
            </p>
            <p>
                Gesamtsumme der Suche:<br/>
                <span class="badge">{{ result.aggregations.total_sum.value|intcomma }}&nbsp;€</span>
            </p>
            <dl>
                {% if result.aggregations.states %}
                    <dt>Bundesland</dt>
                    {% for facet in result.aggregations.states.buckets %}
                        {% if facet.doc_count %}
                            <dd>
                                <a href="?selected_facets=state_exact:{{ facet.key|urlencode }}{{ getvars }}">
                                    {{ facet.key }}
                                </a>
                                ({{ facet.doc_count }})
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">
            {% if object_list %}
                <table class="table">
                {% for result in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'bussgelder_organisation_detail' slug=result.organisation_slug %}">
                                {{ result.organisation_name }}
                            </a>
                        </td>
                        <td class="text-right">
                            {{ result.amount|intcomma }}&nbsp;€
                        </td>
                        <td>
                            {{ result.state_name }}
                        </td>
                        <td class="text-muted">
                            {% if query %}
                                {{ result.text_highlight|safe }}
                            {% else %}
                                
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% if is_paginated %}
                    {% include "pagination.html" with page_obj=page_obj %}
                {% endif %}
            {% else %}
                <p>Keine Ergebnisse gefunden</p>
            {% endif %}
        </div>
    </div>
{% endblock %}